@font-face {
  font-family: 'Compagnie';
  src: url('~@/assets/fonts/CompagnieTest-III.otf')
    format('opentype');
}

@font-face {
  font-family: 'CompagnieText';
  src: url('~@/assets/fonts/CompagnieTest-II.otf')
    format('opentype');
}

@font-face {
  font-family: 'Druk';
  src: url('~@/assets/fonts/DrukWideBold.woff2') format('woff2');
}
